{% extends "auctions/layout.html" %}

{% block body %}

    {% if winner %}
        <h2>This auction is currently closed!</h2>
        {% if user.is_authenticated and user.username == winner.bidder.username %}
            <p><strong>Congratulations! You have won this auction at ${{ winner.bid_amount }}!</strong></p>
            {% else %}
            <p><strong>{{ winner.bidder.username }}</strong> has secured this item at ${{ winner.bid_amount }}!</p>
        {% endif %}

    {% else %}
    <h2>Listing: {{ listing.title }}</h2>

    {% if user.is_authenticated %}
        {% if watchlist %}
        <div>
            <form action="{% url 'remove_watchlist' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="remove" value="{{ listing.title }}" >
                    <input type="submit" value="Remove from Watchlist" class="btn btn-outline-warning">
            </form>

        </div>
        {% else %}
            <div>
                <form action="{% url 'watchlist' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="add" value="{{ listing.title }}">
                        <input type="submit" value="Add to Watchlist" class="btn btn-outline-warning">
                </form>
            </div>
        {% endif %} 
    {% endif %}

    <div>
        <hr>
        <img src="{{ listing.image}}" alt="An image of {{ listing.title }}">
        <p><strong>Starting Price: </strong> ${{ listing.price }}</p>
        <p><strong>Description: </strong>{{listing.description }}</p>
       <p><strong>Category: </strong>{{ listing.category }}</p>
       <p><strong>Listed by: </strong>{{ listing.creator }}</p>
    </div>

    <div>
        {% if user.is_authenticated %}
            <div>
                <form action="{% url 'bid' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="listing" value="{{ listing.title }}">
                    <input type="number" name="bid" placeholder="Bid" step="0.01">
                    <input type="submit" value="Place Bid" class="btn btn-outline-primary">
                </form>
            </div>

            <div>
                {% if bids %}
                    {% for bid in bids %}
                    <p><strong>Bid: </strong>${{ bid.bid_amount }} <br>
                       <strong>Bid placed by: </strong>{{ bid.bidder.username }}
                    </p>
                    {% endfor %}
                {% else %}
                    <p>No bids exist for this item!</p>
                {% endif %}
            </div>

            {% if bids and user.username == listing.creator.username%}
                <form action="{% url 'close_auction' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="listing" value="{{ listing.title }}">
                    <input type="submit" value="Close this auction" class="btn btn-outline-primary">
                </form>

            {% endif %}

            <div>
                <br>
                <form action="{% url 'comment' %}" method="post">
                    {% csrf_token %}
                    <div class="row mb-3">
                        <input type="hidden" name="listing" value="{{ listing.title }}">
                        <label for="comment" class="col-sm-1 col-form-label"><strong>Add a Comment: </strong></label>
                        <div class="col-sm-4">
                            <textarea name="comment" rows="5" cols="20" class="form-control"></textarea>
                        </div>
                    </div>
                    <input type="submit" value="Add Comment" class="btn btn-outline-primary">
                </form>
            </div>

            {% else %}
            <p><a href="{% url 'login' %}">Log in</a> or <a href="{% url 'register' %}">Sign up</a> to add item to your watchlist, comment, or place bids!</p>
        {% endif %}
    </div>
    {% endif %}

<hr>
    <div>
        <h3>Comments</h3>
        {% if not comments %}
         <p>No comments on this listing, yet!</p>
        {% else %}
            {% for comment in comments %}
            <p><strong>{{ comment.user.username }}</strong> says: {{ comment.comment }}</p>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}